/* RESET */
@import url(./about.css);
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f3f3f3;
  --blue: #2ca9e3;
  --darkBlue: #120f22;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

/* FONTS */
@font-face {
  font-family: "quicksand-regular";
  src: url(/Assets/fonts/Quicksand/Quicksand-Regular.ttf);
}

@font-face {
  font-family: "quicksand-bold";
  src: url(/Assets/fonts/Quicksand/Quicksand-Bold.ttf);
}

@font-face {
  font-family: "quicksand-semiBold";
  src: url(/Assets/fonts/Quicksand/Quicksand-SemiBold.ttf);
}

@font-face {
  font-family: "quicksand-light";
  src: url(/Assets/fonts/Quicksand/Quicksand-Light.ttf);
}

body {
  font-family: "quicksand-regular";
  background: var(--bg-color);
}

.container {
  width: min(1366px, 100%);
  margin: 0 auto;
}

/* HEADER */
header {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--bg-color);
  width: 100%;
  height: 100vh;
  background-color: var(--darkBlue);
}

header .innerHeader {
  width: min(1366px, 100%);
  height: 100%;
  margin: 0 auto;
  border: 1px solid red;
}

/* NAVBAR */
.innerNav nav {
  position: fixed;
  z-index: 7;
}

nav .innerNav {
  width: min(1366px, 100%);
  margin: 0 auto;
  border: 1px solid teal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--darkBlue);
}

/* LOGO */
.logo {
  width: 160px;
  height: 48px;
}

.logo img {
  width: 100%;
  object-fit: cover;
  position: relative;
  top: 10px;
}

nav .innerNav ul li {
  display: none;
}

.btnInscription {
  display: none;
}

/*---- MOBILE PART ----*/
/* MENU FOR MOBILE */
.nav-mobile {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  background: var(--darkBlue);
  border-right: 1px solid var(--bg-color);
  transform: translateX(0);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btnInscriptionMobile {
  border: none;
  outline: none;
  background: var(--blue);
  color: var(--bg-color);
  padding: 10px 25px;
  border-radius: 5px;
}

/* BURGER BUTTON */
.toggle-nav {
  position: fixed;
  right: 30px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  z-index: 5;
}

.line {
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--bg-color);
  transition: transform 0.3s ease-out, opacity 0.1s ease-in;
}

.l1 {
  transform: translateY(-10px);
}

.l3 {
  transform: translateY(10px);
}

.toggle-nav.active .l1 {
  transform: translateY(0) rotate(135deg);
}

.toggle-nav.active .l2 {
  opacity: 0;
}

.toggle-nav.active .l3 {
  transform: translateY(0) rotate(-135deg);
}
/*---- END OF MOBILE PART ----*/

/* END OF HEADER */

main {
  width: 100%;
}

/* RESPONSIVE */
@media screen and (min-width: 767px) {
}

@media screen and (min-width: 1280px) {
  nav .innerNav ul li {
    font-size: 1em;
    color: var(--bg-color);
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
    cursor: pointer;
    transition: 0.5s;
  }

  .btnInscription {
    display: block;
    border: none;
    outline: none;
    background: var(--blue);
    color: var(--bg-color);
    padding: 10px 25px;
    border-radius: 5px;
  }

  .toggle-nav {
    display: none;
  }
}
