/* RESET */
@import url(./about.css);
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color : #f3f3f3;
  --blue: #2ca9e3;
  --darkBlue: #120f22;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

/* FONTS */

@font-face {
  font-family: "quicksand-regular";
  src: url(/Assets/fonts/Quicksand/Quicksand-Regular.ttf);
}

body {
  font-family: "quicksand-regular";
  background: var(--bg-color);
}

.container {
  width: min(1366px, 100%);
  height: 100vh;
  margin: 0 auto;
}

main {
  width: 100%;
}
